.header-zodiac {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;

  a {
    margin: 0 20px;
    color: $color-primary;
    font-weight: bold;
    font-size: 25px;

    &:hover {
      color: #607d8b;
    }
  }
}
.zodiac-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.zodiac-item {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.zodiac-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ccc;
  transition: border-color 0.3s ease;
}

.zodiac-item span {
  margin-top: 0.8rem;
  font-weight: 600;
}

.zodiac-item:hover {
  transform: scale(1.05);
}

.zodiac-item:hover img {
  border-color: $color-highlight;
}
.zodiac-back {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  margin: 0 20px;
  color: $color-primary;
  font-weight: bold;
  font-size: 25px;

  &:hover {
    color: #607d8b;
  }
}
