@media (max-width: 1024px) {
  .html {
    overflow-y: hidden;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* IE i Edge */
  }
  .header {
    min-height: 150px;
  }
  .header-links {
    bottom: 5;
  }
  .hamburger {
    display: flex;
  }
  #nav-links a {
    font-size: 25px;
  }
  .bg-logo {
    background: url("../images/grafika2.png") no-repeat;
    background-position: left 5vw top;
    background-size: 15% auto;
  }
  .aboutFengShui {
    height: 90%;
  }
  .img-Fengshui {
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .aboutUs {
    flex-direction: column;
    padding: 4rem 2rem;
    align-items: center;
  }
  .text-aboutUs.shadow-aboutUs {
    width: 100%;
    font-size: 18px;
    margin-left: 0;
    padding: 20px;
  }
  .img-aboutUsWrapper {
    position: relative;
    width: 80%;
    bottom: 0;
    right: 0;
    margin-top: 40px;
  }
  .logoAboutUs {
    width: 20%;
    height: 20%;
  }
  .img-aboutUs {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .lotus-aboutUs {
    width: 40%;
    height: auto;
  }
  .chinese-labels {
    bottom: 20px;
    right: 0;
    font-size: 20px;
  }
  .img-caption {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 819px) {
  body {
    align-items: center;
    justify-content: flex-start;
  }
  .custom-header {
    min-height: 110px;
  }
  .header-links {
    display: none;
  }
  .header-links.open {
    display: flex;
    flex-direction: row;
    bottom: 5px;
  }
  #nav-links a {
    font-size: 17px;
    font-weight: bold;
    color: darkolivegreen;
  }
  .aboutFengShui {
    width: 100%;
  }
  .text-Fengshui {
    font-size: 18px;
  }
  .img-Fengshui {
    margin: 0;
    justify-content: center;
  }
  .aboutUs {
    width: 100%;
  }
  .text-aboutUs .shadow-aboutUs {
    font-size: 12px;
    width: 100%;
  }
  .text-bottom {
    letter-spacing: 4px;
    font-size: 12px;
  }
  .logoAboutUs {
    width: 50%;
  }
  .img-aboutUsWrapper {
    width: 100%;
    gap: 5px;
  }
  .chinese-labels {
    font-size: 30px;
    bottom: 10px;
    right: 0;
  }
  .img-caption {
    font-size: 18px;
  }
  .button {
    width: 100%;
    padding: 14px;
    font-size: 1.1em;
  }
  .add-to-cart {
    margin: 0;
    padding: 2px;
    background-color: #7b4f1d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
  }
}
