@media (max-width: 1900px) {
  html {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE i Edge */
  }
  html::-webkit-scrollbar {
    display: none;
  }

  .header {
    min-height: 150px;
  }

  .header-links {
    display: none;
    bottom: 5;
  }
  .header-links.open {
    display: flex;
    flex-direction: row;
    bottom: 5px;
  }
  .hamburger {
    display: flex;
  }
  #nav-links a {
    font-size: 25px;
  }
  .zodiac-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    margin-top: 80px;
  }

  .bg-logo {
    background: url("../../images/logo-transparent.png") no-repeat;
    background-position: left 5vw top;
    background-size: 15% auto;
  }
  .aboutFengShui {
    width: 100%;
    margin-top: 20px;
  }

  .img-Fengshui {
    margin-right: 50px;
  }
  .aboutUs {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .text-aboutUs.shadow-aboutUs {
    width: 100%;
    font-size: 24px;
    margin-left: 0;
    padding: 20px;
  }
  .img-aboutUsWrapper {
    position: relative;
    width: 80%;
    bottom: 0;
    right: 0;
    margin-top: 40px;
  }
  .logoAboutUs {
    width: 15%;
    height: 15%;
  }
  .text-bottom {
    font-size: 20px;
  }

  .img-aboutUs {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .lotus-aboutUs {
    width: 20%;
    height: auto;
  }

  .chinese-labels {
    flex-direction: row;
    gap: 8px;
    bottom: 20px;
    right: 0;
    font-size: 30px;
    color: whitesmoke;
  }

  .img-caption {
    font-size: 14px;
    text-align: right;
  }
  .footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
  }
  .inline-form input,
  .inline-form button {
    width: 100%;
  }
  .body-rat {
    padding: 0 40px;
  }

  .zodiac-title {
    font-size: 38px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  th,
  td {
    font-size: 18px;
  }

  th {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  body {
    align-items: center;
    justify-content: flex-start;
  }

  .custom-header {
    min-height: 110px;
  }
  .header-links {
    justify-content: center;
    margin: 0 auto;
  }

  #nav-links a {
    font-size: 15px;
    font-weight: bold;
    color: $color-primary;
    margin: 0 10px;
  }
  .back-zodiac a {
    font-size: 18px;
    top: 20px;
    right: 20px;
  }
  .zodiac-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
  .zodiac-item img {
    width: 100px;
    height: 100px;
  }
  .body-rat {
    padding: 0 20px;
  }

  .zodiac-title {
    font-size: 22px;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  table {
    font-size: 16px;
  }

  th,
  td {
    padding: 10px 12px;
    font-size: 16px;
  }

  th {
    font-size: 16px;
  }
  .aboutFengShui {
    margin-top: 0px;
  }
  .shadow {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .text-Fengshui {
    font-size: 18px;
  }

  .img-Fengshui {
    margin: 0;
    margin-bottom: 40px;
    width: 80%;
  }
  .text-aboutUs .shadow-aboutUs {
    font-size: 12px;
    width: 100%;
  }
  .bottom {
    margin-top: 20px;
  }
  .text-bottom {
    font-size: 12px;
  }
  .logoAboutUs {
    width: 15%;
    height: 15%;
  }

  .img-aboutUsWrapper {
    width: 100%;
    gap: 5px;
  }

  .chinese-labels {
    font-size: 15px;
    bottom: 10px;
    right: 10px;
  }

  .img-caption {
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
  }
  #kalkulatorBazi .modal-content {
    width: auto;
    max-width: 400px;
    min-width: 300px;
  }
  .product {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .button {
    width: 100%;
    padding: 14px;
    font-size: 1.1em;
  }
  .product-name h3 {
    font-size: 18px;
  }

  .add-to-cart {
    width: 30%;
    margin: 0;
    padding: 2px;
    background-color: #7b4f1d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
  }
  .custom-footer-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .footer-left {
    display: none;
  }

  .footer-main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 500px;
  }
  .footer-socials {
    align-items: flex-start;
    padding-left: 0;
  }

  .footer-form {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .custom-footer {
    padding: 10px;
  }

  .custom-footer-content {
    flex-direction: column;
    padding: 0 10px;
  }

  .footer-main {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-socials {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .social-icon {
    width: 32px;
    height: 32px;
  }

  .inline-form {
    gap: 8px;
  }

  .inline-form input,
  .inline-form button {
    font-size: 14px;
    padding: 8px 10px;
    width: 220px;
  }

  .inline-form button {
    height: auto;
  }

  .footer-left {
    display: none;
  }
  .body-rat {
    padding: 0 10px;
  }
  .back-zodiac a {
    font-size: 15px;
    top: 10px;
    right: 10px;
  }
  .zodiac-title {
    font-size: 18px;
    margin-top: 50px;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px 10px;
  }

  .sign-name {
    font-size: 16px;
  }

  .body-rat::before {
    background-size: 60%; /* zmniejsz tło na małych ekranach */
  }
}
