@media (max-width: 1024px) {
  .html {
    overflow-y: auto;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE i Edge */
  }
  .header {
    min-height: 150px;
  }

  .header-links {
    bottom: 5;
  }
  .hamburger {
    display: flex;
  }
  #nav-links a {
    font-size: 25px;
  }

  .bg-logo {
    background: url("../images/grafika2.png") no-repeat;
    background-position: left 5vw top;
    background-size: 15% auto;
  }
  .aboutFengShui {
    height: 90%;
  }

  .img-Fengshui {
    margin-right: 50px;
  }
  .aboutUs {
    flex-direction: column;
    height: auto;
    padding: 40px 5%;
  }

  .text-aboutUs.shadow-aboutUs {
    width: 90%;
    font-size: 20px;
    margin: 10px 0;
  }
  .bottom {
    gap: 10px;
  }
  .logoAboutUs {
    width: 20%;
    height: 20%;
  }
  .img-aboutUsWrapper {
    position: relative;
    bottom: auto;
    right: auto;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0 auto;
  }

  .img-aboutUs {
    width: 100%;
    max-width: 400px;
    padding-bottom: 40px;
    border-bottom-width: 2px;
  }
  .lotus-aboutUs {
    width: 90%;
    height: 90%;
  }

  .chinese-labels {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 36px;
  }

  .img-caption {
    font-size: 16px;
  }
}

@media (max-width: 820px) {
  body {
    align-items: center;
    justify-content: flex-start;
  }

  .custom-header {
    min-height: 110px;
  }

  .header-links {
    display: none;
  }

  .header-links.open {
    display: flex;
    flex-direction: row;
    bottom: 5;
  }

  #nav-links a {
    font-size: 17px;
    font-weight: bold;
    color: $color-primary;
  }

  .aboutFengShui {
    width: 100%;
  }

  .shadow {
    width: 100%;
    flex-direction: column;
  }

  .text-Fengshui {
    font-size: 18px;
  }

  .img-Fengshui {
    margin: 0;
    justify-content: center;
  }
  .text-aboutUs.shadow-aboutUs {
    font-size: 18px;
    padding: 10px 15px;
  }
  .bottom {
    gap: 3px;
  }
  .logoAboutUs {
    width: 15%;
    height: 15%;
  }

  .img-aboutUsWrapper {
    max-width: 300px;
  }

  .img-aboutUs {
    max-width: 300px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .lotus-aboutUs {
    width: 70%;
    height: 70%;
  }
  .chinese-labels {
    font-size: 28px;
    bottom: 15px;
    // right: 8px;
  }

  .img-caption {
    font-size: 14px;
  }

  .button {
    width: 100%;
    padding: 14px;
    font-size: 1.1em;
  }

  .add-to-cart {
    // width: 30%;
    margin: 0;
    padding: 2px;
    background-color: #7b4f1d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
  }
}
