@media (max-width: 1366px) {
  html {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE i Edge */
  }
  html::-webkit-scrollbar {
    display: none;
  }

  .header {
    min-height: 150px;
  }

  .header-links {
    display: none;
    bottom: 5;
  }
  .header-links.open {
    display: flex;
    flex-direction: row;
    bottom: 5px;
  }
  .hamburger {
    display: flex;
  }
  #nav-links a {
    font-size: 25px;
  }

  .bg-logo {
    background: url("../images/grafika2.png") no-repeat;
    background-position: left 5vw top;
    background-size: 15% auto;
  }
  .aboutFengShui {
    width: 100%;
    margin-top: 20px;
  }

  .img-Fengshui {
    margin-right: 50px;
  }
  .aboutUs {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .text-aboutUs.shadow-aboutUs {
    width: 100%;
    font-size: 18px;
    margin-left: 0;
    padding: 20px;
  }
  .img-aboutUsWrapper {
    position: relative;
    width: 80%;
    bottom: 0;
    right: 0;
    margin-top: 40px;
  }
  .logoAboutUs {
    width: 20%;
    height: 20%;
  }

  .img-aboutUs {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .lotus-aboutUs {
    width: 40%;
    height: auto;
  }

  .chinese-labels {
    flex-direction: row;
    gap: 8px;
    bottom: 20px;
    right: 0;
    font-size: 30px;
    color: whitesmoke;
  }

  .img-caption {
    font-size: 14px;
    text-align: right;
  }
  .inline-form input,
  .inline-form button {
    width: 100%;
  }
}

@media (max-width: 819px) {
  body {
    align-items: center;
    justify-content: flex-start;
  }

  .custom-header {
    min-height: 110px;
  }

  #nav-links a {
    font-size: 17px;
    font-weight: bold;
    color: $color-primary;
  }
  .aboutFengShui {
    margin-top: 0px;
  }
  .shadow {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .text-Fengshui {
    font-size: 18px;
  }

  .img-Fengshui {
    margin: 0;
    margin-bottom: 40px;
    width: 80%;
  }
  .text-aboutUs .shadow-aboutUs {
    font-size: 12px;
    width: 100%;
  }
  .bottom {
    margin-top: 20px;
  }
  .text-bottom {
    font-size: 12px;
  }
  .logoAboutUs {
    width: 15%;
    height: 15%;
  }

  .img-aboutUsWrapper {
    width: 100%;
    gap: 5px;
  }

  .chinese-labels {
    font-size: 15px;
    bottom: 10px;
    right: 10px;
  }

  .img-caption {
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
  }
  #kalkulatorBazi .modal-content {
    width: auto;
    max-width: 400px;
    min-width: 300px;
  }
  .product {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .button {
    width: 100%;
    padding: 14px;
    font-size: 1.1em;
  }
  .product-name h3 {
    font-size: 18px;
  }

  .add-to-cart {
    // width: 30%;
    margin: 0;
    padding: 2px;
    background-color: #7b4f1d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
  }
  .custom-footer-content {
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
  }

  .footer-left-group {
    gap: 10px;
    margin-bottom: 20px;
  }
  .footer-left .logo {
    display: none;
  }

  .footer-center {
    margin-left: 0;
    display: contents;
    justify-content: center;
    align-items: center;
  }

  .inline-form input,
  .inline-form textarea,
  .inline-form button {
    width: 100%;
  }
}
