button {
  padding: 12px;
  font-size: 1.1em;
  width: 200px;
  color: white;
  background-color: $color-primary;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #607d8b;
  }
}
