html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
body {
  font-family: $font-family-main;
  color: $color-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h3 {
  text-transform: uppercase;
  font-size: 30px;
  padding: 40px 0;
}
h2 {
  text-align: center;
  color: $color-accent;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}

label {
  margin-bottom: 8px;
  font-weight: 600;
  color: $color-accent;
}

.highlight {
  color: $color-highlight;
  font-weight: bold;
}
